.topContainer {
  width: 100vw;

  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  background-color: black;
}
.topContainer-1 {
  width: 100%;
  height: 80%;
  /* background-image: url(../../../assets/ajay-1.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
@media (max-width: 768px) {
}
