.TopContent {
  width: 100%;
  margin: 2px 2px;
  padding: 40px 40px;
  font-size: 18px;
  align-items: center;
  text-align: center;
}
.TopContent_Container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;

  padding: 20px 30px;
}
.img-container {
  width: 29%;
  height: 30%;
}
.img-my {
  width: 80%;
  height: 30%;
  border-radius: 50%;
  border: 2px solid rgb(95, 187, 214);
}
.profile-detail {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.name {
  font-size: 30px;
  font-weight: 900;
  color: white;
}
.content {
  font-size: 22px;
  font-weight: 900;
  color: white;

  /* position: absolute;
  right: 150px;
  top: 150px; */
  bottom: 100px;
}
.description {
  color: rgb(169, 164, 164);
  font-size: 18px;
  font-weight: 800;
  /* position: relative;
  top: 20px; */
  gap: 1rem;
  padding: 5px 10px;
  display: flex;
}

@media (max-width: 768px) {
  .TopContent_Container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 7px;
    padding: 20px 20px;
  }
  .img-container {
    width: 29%;
    height: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .img-my {
    width: 250px;
    height: 30%;
    border-radius: 50%;
    border: 2px solid rgb(95, 187, 214);
  }
  .profile-detail {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .name {
    font-size: 24px;
    font-weight: 900;
    color: white;
  }
  .content {
    font-size: 19px;
    font-weight: 900;
    color: white;

    /* position: absolute;
    right: 150px;
    top: 150px; */
    bottom: 100px;
  }
  .description {
    color: rgb(169, 164, 164);
    font-size: 15px;
    font-weight: 800;
    /* position: relative;
    top: 20px; */
    gap: 1rem;
    padding: 5px 10px;
    display: flex;
  }
}
